@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-bue: hsl(218, 22%, 67%);
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}
body {
    background-color: $light-gray;
}
.card {
    margin: 72px 32px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);

    div {
        padding: 32px 24px;
        h1 {
            margin-bottom: 15px;
        }
    }
}
.community {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h1 {
        color: $cyan;
    }
    h2 {
        color: $bright-yellow;
        margin-bottom: 15px;
    }
    p {
        color: $grayish-bue;
        line-height: 1.8;
        font-size: 1.3rem;
    }
}
.sub,.us {
    background-color: $cyan;
    h1 {
        color: white;
    }
    button {
        background-color: $bright-yellow;
        color: white;
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 5px;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);
    }
    .price {
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.7rem;
        span {
            font-size: 4rem;
            font-weight: 700;
            margin-right: 15px;;
        }
        margin-bottom: 5px;
    }
    p {
        color: white;
        font-size: 1.6rem;
        margin-bottom: 25px;
    }
}
.us {
    opacity: 80%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    li {
        font-size: 1.5rem;
        color: $light-gray;
        margin: 3px 0;
    }
}
footer {
    text-align: center;
}
// .parent {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     }
    
//     .div1 { grid-area: 1 / 1 / 2 / 3; }
//     .div2 { grid-area: 2 / 1 / 3 / 2; }
//     .div3 { grid-area: 2 / 2 / 3 / 3; }
